.pageSignIn {
    display: flex;
}

.cardLeft {
    width: 380px !important;
    height: 600px;
    background:rgb(174, 174, 174)
}

.cardRight {
    width: 380px;
}
.from-sign-in {
    background: white !important;
    border-radius: 2px !important;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column
}

.btn_submit_dangnhap {
    width: 258px;
    height: 30px;
    background: rgb(0, 149, 246);
    text-align: center;
    border-radius: 4px;
    border: rgb(0, 149, 246);
    outline: rgb(0, 149, 246);
    border: 0.5px solid transparent;
    outline-color: rgb(0, 149, 246);
    color: white;
    font-weight: 600;
    font-size: 14px;
    /* margin-top: 10px; */
    margin: 10px auto;
    cursor: pointer;

}

.btn_submit_dangnhap:hover,
.btn_submit_dangnhap:focus {
    outline: none;
}

.btn_submit_dangnhap:active {
    background: rgba(83, 168, 237);
}

.horizontal_line {
    /* background-color: rgb(189, 220, 11) !important;
    background: 0 !important; */
    width: 258px;
    display: flex;
    align-self: center;
    align-items: center;
    background: transparent;
}

.line_left,
.line_right {
    height: 1px;
    width: 98px;
    background-color: rgb(174, 174, 174);
}

.hoac {
    font-size: 13px;
    height: 16px;
    width: 33px;
    background: transparent;
    font-weight: bold;
    color: rgb(174, 174, 174);
    
    position: relative;
    left: -1px;
    margin-top: 20px;
}

.loginByFacebook{
    background: transparent;
}

.loginByFacebook button {
    width: 258px;
    height: 30px;
    background: #ffffff;
    text-align: center;
    border-radius: 4px;
    border: rgb(0, 149, 246) !important;
    outline: rgb(0, 149, 246);
    border: 0.5px solid transparent;
    outline-color: rgb(0, 149, 246) !important;
    color: #3a5286 !important;
    font-weight: 600 !important;
    font-size: 14px;
    /* margin-top: 10px; */
    margin: 5px auto;
    cursor: pointer;
}

.loginByFacebook button span {
    margin: 0px 5px;
    color: rgb(58, 82, 134);
    background: transparent;
}

.loginByFacebook button iconify-icon {
    color: rgb(58, 82, 134);
    font-size: 23px;
    position: relative;
    top: 5px;
}

.loginByFacebook button:active {
    opacity: 0.7;
}

.forgotPasswordTag {
    text-decoration: none;
    font-size: 12px;
    color:rgb(58, 82, 134);
margin-top: 10px;
margin-bottom: 20px;
}

.forgotPasswordTag:hover {
    text-decoration: none;
}

.forgotPasswordTag:active {
    opacity: 0.7;
    color:rgb(148, 212, 254)
}

.notification {
    font-size:14px;
    color: #ed4956;
    font-weight: 400;
}

.btn_submit_dangnhap:disabled {
    background-color: rgb(148, 212, 254);
}

